@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 100%;
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #666;
}

h1 {
  color: #fff;
  margin: 20px;
}

.screen {
  cursor: pointer;
  width: 60%;
  background-color: #000 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  background-color: #333;
  color: #fff;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.controls .btn .fa-play {
  color: #28a745;
}

.controls .btn .fa-stop {
  color: #dc3545;
}

.controls .btn .fa-pause {
  color: #fff;
}

.btn:focus {
  outline: 0;
}

.controls .timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}
